@mixin generate_buttons {
  @for $i from 1 through length($all_colors) {
    button,
    a.is-button {
      border: none;
      padding: 1rem 2rem;
      font-size: 1rem;
      
      &.has-rounded-corners { border-radius: 10rem; }
  
      &.is-#{nth($all_colors, $i)} {
        background: color(#{nth($all_colors, $i)});
        color: color("white");
    
        &.is-outline {
          background: transparent;
          border: 1px solid color(#{nth($all_colors, $i)});
          color: color(#{nth($all_colors, $i)});
        }
  
        &.is-link {
          background: none;
          color: color(#{nth($all_colors, $i)});
          text-decoration: underline;
        }
      }
      
      &.is-small {
        padding: .5rem 2rem;
      }
      
      &.is-large {
        padding: 1.5rem 2rem;
        font-size: 1.25rem;
      }
    }
  }
}

@include generate_buttons;