.is-input-group {
  margin-bottom: 1rem;
  position: relative;
  cursor: pointer;
  user-select: none;
  
  .is-input,
  .is-label,
  .is-textarea,
  .is-select-option {
    display: flex;
    width: 100%;
  }
}

.is-label {
  margin-bottom: .5rem;
}

.is-input,
.is-textarea,
.is-select-option {
  background: variable("grey");
  padding: 1rem;
  border-radius: 2px;
  border: 0;
}

.is-input-group:hover .is-checkbox ~ .is-checkbox::after {
  background-color: #ccc;
}