@mixin generate_tags {
  @for $i from 1 through length($all_colors) {
    .is-tag {
      padding: 0 .75rem;
      font-size: .8rem;
      border-radius: 2px;
    
      &.is-#{nth($all_colors, $i)} {
        background: variable(#{nth($all_colors, $i)});
        color: variable("white");
      
        &.is-outline {
          background: none;
          border: 2px solid variable(#{nth($all_colors, $i)});
          color: variable(#{nth($all_colors, $i)});
        }
      }
    }
    
    .is-tag.is-rounded {
      border-radius: 10rem;
    }
  }
}

@include generate_tags;