@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,900&display=swap');

/* General
----------------------------- */
html {
  font-size: variable("root-font-size");
  font-family: 'Montserrat', sans-serif;
}

body {
  line-height: variable("root-line-height");
  background: #f4f4f4;
}

* {
  color: darken(#016575, 12%); // Primary Color, cannot use native CSS variables in SCSS functions :/
  box-sizing: border-box;
}

p { margin-bottom: 1.5rem; }