/* General
----------------------------- */
html {
  font-size: variable("root-font-size");
}

body {
  line-height: variable("root-line-height");
  background: #f4f4f4;
}

* {
  color: variable('black');
  box-sizing: border-box;
}

p { margin-bottom: 1.5rem; }