/*

  This is used for the demo only. This is not the source code.
  You may use this file to play around with Griddle when working on new features.
  Please do not commit this file.

-------------------------------------------------------------------------------------- */
body {
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
  background color:#F0F0FF;
}

.is-grid {
  background: #ccc;
}

.is-grid > * {
  background: #a8a8a8;
}
