/* -------------------------------------------

  Copyright 2020. All Rights Reserved.
  Name: Griddle
  Author: Dave Berning
  Website: www.daveberning.io
  Licence: MIT
  Version: 0.1.0
  
  In association with Oodle.io
  
------------------------------------------- */