$xs: '575.5px';
$sm: '576px';
$md: '768px';
$lg: '992px';
$xl: '1200px';
$xxl: '1400px';

$directions: "top" "right" "bottom" "left";
$sizes: "" "-md" "-lg";
$properties: "left" "right" "center" "start" "normal";
$maximum: 12;

/* Note:
** These must be in the same order
----------------------------------------- */
$breakpoints:       "xs" "sm" "md" "lg" "xl" "xxl";
$breakpoint_values: $xs  $sm  $md  $lg  $xl  $xxl;

/* Needed for Loops - Add to this if you add color variables
----------------------------------------------------------------- */
$all_colors: "primary" "secondary" "tertiary" "cta" "white" "black" "grey" "danger" "warning" "info" "success";