$xs: '575.5px';
$sm: '576px';
$md: '768px';
$lg: '992px';
$xl: '1200px';
$xxl: '1400px';

/* Note:
** These must be in the same order
----------------------------------------- */
$breakpoints:       "xs" "sm" "md" "lg" "xl" "xxl";
$breakpoint_values: $xs  $sm  $md  $lg  $xl  $xxl
;