/* Need for Loops
----------------------------------------- */
$all_colors: "primary" "secondary" "tertiary" "cta" "white" "black" "grey" "danger" "warning" "info" "success";

/* CSS Variables
----------------------------------------- */
:root {
  --primary: #016575;
  --secondary: #03414b;
  --tertiary: #003242;
  --cta: #EB8A5E;
  --white: #ffffff;
  --black: #000000;
  --grey: #ececec;
  --success: #48C774;
  --warning: #FFDD57;
  --danger: #F14668;
  --info: #3298DC;
}

/* Used to generate CSS Variables in SCSS
------------------------------------------------- */
@function color($color-name) {
  @return var(--#{$color-name});
}